<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body>
<!-- Pre-loader start -->
<div th:replace="fragments/pre-load :: pre-load"></div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <nav th:replace="fragments/navbarmainmenu :: navbarmain"></nav>

                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div th:replace="fragments/page-header :: pageheader"></div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-body start -->
                                <div class="page-body">
                                    <div class="row">
                                        <!-- INCLUIR DADOS DA TELA AQUI -->
                                        <div class="col-sm-12">
                                            <!-- Basic Form Inputs card start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Atendimento</h5>
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                                            <li><i class="fa fa-trash close-card"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <form class="form-material" action="salvar-atendimento" method="post" id="formUser">

                                                        <div class="form-group form-default form-static-label">
                                                            <input type="text" class="form-control" name="paciente" required="" th:field="*{pacienteobj.nome}" th:value="*{pacienteobj.id}" readonly="readonly">
                                                            <span class="form-bar"></span>
                                                            <label class="float-label">Nome do Paciente</label>
                                                        </div>

                                                        <!--                                                            ESPECIALIDADE-->
                                                        <div class="form-group form-default">
                                                            <select name="especialidade" id="especialidade" class="form-control" th:field="*{especialidades}" onchange="validarForm()">
                                                                <option value=""></option>
                                                                <option th:each="especialidade: ${especialidades}"
                                                                        th:text="${especialidade.nome}"
                                                                        th:value="${especialidade.id}"></option>
                                                            </select>
                                                            <span class="form-bar"></span>
                                                            <label class="float-label" th:for="especialidade">Especialidade</label>
                                                        </div>

                                                        <!--                                                            ESPECIALIDADE USUARIO-->
                                                        <div class="form-group form-default">
                                                            <select name="usuario" id="usuario" class="form-control"  hidden="hidden"></select>
                                                            <span class="form-bar"></span>
                                                            <label class="float-label" hidden="hidden" id="usuario2" th:for="usuario">Colaborador</label>
                                                        </div>

                                                        <!--                                                                BOTOES NOVO E SALVAR-->
                                                        <button class="btn btn-success waves-effect waves-light">Salvar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- FIM  INCLUSAO DADOS DA TELA -->
                                    </div>
                                </div>
                                <!-- Page-body end -->
                            </div>
                            <div id="styleSelector"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/javascriptfile :: javascriptfile"></div>

<script type="text/javascript">
    function validarForm() {
        var optionSelect = document.getElementById("especialidade").value;

        if(optionSelect !="" ){
            document.getElementById("usuario").disabled = false;
            document.getElementById("usuario").hidden = false;
            document.getElementById("usuario2").hidden = false;
        }else{
            document.getElementById("usuario").disabled = true;
            document.getElementById("usuario").hidden = true;
            document.getElementById("usuario2").hidden = true;
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#especialidade').change(
            function() {

                var especialidadeId = $(this).val();
                $.ajax({
                    type:'GET',
                    url: '/usuariosPorEspecialidade/' +especialidadeId,
                    success: function (result) {
                        var result = JSON.parse(result);
                        var s = '';
                        for(var i = 0; i < result.length; i++){
                            s+='<option value="'+ result[i].id + '">'+result[i].nome+ '</option>';
                        }
                        $('#usuario').html(s);
                    }
                });
            });
    });
</script>
</body>

</html>
