<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
</head>

<body>
<!-- Pre-loader start -->
<div th:replace="fragments/pre-load :: pre-load"></div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <nav th:replace="fragments/navbarmainmenu :: navbarmain"></nav>

                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div th:replace="fragments/page-header :: pageheader"></div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-body start -->
                                <div class="page-body">
                                    <div class="row">
                                        <!-- INCLUIR DADOS DA TELA AQUI -->
                                        <div class="col-sm-12">
                                            <!-- Basic Form Inputs card start -->
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5>Cadastro de Colaboradores</h5>
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                                            <li><i class="fa fa-refresh reload-card"></i></li>
                                                            <li><i class="fa fa-trash close-card"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <h4 class="sub-title">Basic Inputs</h4>
                                                    <form class="form-material" action="salvar-paciente" method="post" id="formUser" th:object="${pacienteobj}">

                                                        <!--                                                            NOME PACIENTE-->
                                                        <div class="form-group form-default">
                                                            <input type="text" name="nome" id="nome" class="form-control" required="required" autocomplete="off" >
                                                            <span class="form-bar"></span>
                                                            <label class="float-label">Nome do Paciente</label>
                                                        </div>

                                                        <!--                                                            CPF PACIENTE-->
                                                        <div class="form-group form-default">
                                                            <input type="text" name="cpf" id="cpf" class="form-control" required="required" autocomplete="off" maxlength="14">
                                                            <span class="form-bar"></span>
                                                            <label class="float-label">Cpf</label>
                                                        </div>

                                                        <!--                                                            SEXO PACIENTE-->
                                                        <div class="form-group form-default">
                                                            <select name="select" class="form-control" th:field="*{sexo}">
                                                                <option th:each="sexoType : ${sexoTypes}"
                                                                        th:text="${sexoType.sexo}"
                                                                        th:value="${sexoType}"></option>
                                                            </select>
                                                            <span class="form-bar"></span>
                                                            <label class="float-label" th:for="sexo">Sexo</label>
                                                        </div>

                                                        <!--                                                            TELEFONE PACIENTE-->
                                                        <div class="form-group form-default">
                                                            <input type="text" name="telefone" id="telefone" class="form-control" required="required" autocomplete="off" maxlength="15">
                                                            <span class="form-bar"></span>
                                                            <label class="float-label">Telefone</label>
                                                        </div>
                                                        <!--                                                                BOTOES NOVO E SALVAR-->
                                                        <button  type="button" class="btn btn-primary waves-effect waves-light" onclick="limparForm();">Novo</button>
                                                        <button class="btn btn-success waves-effect waves-light">Salvar</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- FIM  INCLUSAO DADOS DA TELA -->
                                    </div>
                                </div>
                                <!-- Page-body end -->
                            </div>
                            <div id="styleSelector"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/javascriptfile :: javascriptfile"></div>

<script type="text/javascript">
    function limparForm() {

        var elementos = document.getElementById("formUser").elements;//retorna os elementos hhtml dentro do form

        for(p = 0; p < elementos.length; p++){
            elementos[p].value = '';
        }
    }

    $(document).ready(function(){
        $('#cpf').mask('000.000.000-00')
    });
    $(document).ready(function(){
        $('#telefone').mask('(00) 00000-0000')
    });
</script>
</body>

</html>
