<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">
</head>

<body>
<!-- Pre-loader start -->
<div th:replace="fragments/pre-load :: pre-load"></div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">

                <nav th:replace="fragments/navbarmainmenu :: navbarmain"></nav>

                <div class="pcoded-content">
                    <!-- Page-header start -->
                    <div th:replace="fragments/page-header :: pageheader"></div>
                    <!-- Page-header end -->
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <div class="page-wrapper">
                                <!-- Page-body start -->
                                <div class="page-body">
                                    <!-- INCLUIR DADOS DA TELA AQUI -->
                                    <!-- Basic table card start -->
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="table-card">
                                                <div class="row col-sm-12">
                                                    <div class="col-sm-6">
                                                        <h5>Gerenciamento De Pacientes</h5>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="p-15 p-b-0">
                                                <form class="form-material" action="pesquisar-paciente" method="post">
                                                    <div class="form-group form-primary">
                                                        <input type="text" name="pacientePesquisar" class="form-control" required="">
                                                        <span class="form-bar"></span>
                                                        <label class="float-label"><i class="fa fa-search m-r-10"></i>Pesquisar Paciente</label>
                                                        <br/>
                                                        <button class="btn btn-primary waves-effect waves-light">Buscar</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="card-header-right">
                                                <ul class="list-unstyled card-option">
                                                    <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                                    <li><i class="fa fa-window-maximize full-card"></i></li>
                                                    <li><i class="fa fa-minus minimize-card"></i></li>
                                                    <li><i class="fa fa-refresh reload-card"></i></li>
                                                    <li><i class="fa fa-trash close-card"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-block table-border-style">
                                            <div class="table-responsive">

                                                <!--/*@thymesVar id="msgSucess" type="java"*/-->
                                                <div th:if="${msgSucess} != null" class="col-sm-8">
                                                    <div class="alert alert-success" role="alert">
                                                        <span th:text="${msgSucess}"></span>
                                                    </div>
                                                </div>
                                                <!--/*@thymesVar id="msgError" type="java"*/-->
                                                <div th:if="${msgError} != null" class="col-sm-8">
                                                    <div class="alert alert-danger" role="alert">
                                                        <span th:text="${msgError}"></span>
                                                    </div>
                                                </div>

                                                <div class="p-15 p-b-0">
                                                    <div class="form-group form-primary">
                                                        <br/>
                                                        <a href="/cadastro-paciente"> <button class="btn waves-effect waves-light btn-success"><i class="icofont icofont-ui-add"></i></i>Novo Paciente</button></a>
                                                    </div>
                                                </div>
                                                <table class="table" >
                                                    <thead>
                                                    <tr>
                                                        <th>Nome</th>
                                                        <th>cpf</th>
                                                        <th>Ações</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each = "paciente : ${pacientes}">

                                                        <td th:text = "${paciente.nome}"></td>
                                                        <!--                                                                <td th:text = "${usuario.cargo.cargo}"></td>-->
                                                        <td th:text = "${paciente.cpf}"></td>
                                                        <td>
<!--                                                            <a data-toggle="modal" href="#addCargo" data-target="#modal-addCargo" th:attr="data-target='#modal-addCargo'+${paciente.id }"><i class="material-icons" data-toggle="tooltip" title="Add Cargo">&#xEA3D;</i></a>-->
                                                            <a class="edit" href="#editPaciente" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                                            <a data-toggle="modal" href="#deletePaciente" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${paciente.id }"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                                            <input type="hidden" id="id" th:value="${paciente.id}">

<!--                                                            &lt;!&ndash; Add Cargo HTML &ndash;&gt;-->
<!--                                                            <div class="modal fade in" id="addCargo" th:id="modal-addCargo+${paciente.id}">-->
<!--                                                                <div class="modal-dialog">-->
<!--                                                                    <div class="modal-content">-->
<!--                                                                        <form th:action="@{/role-usuario/{idUsuario}(idUsuario=${paciente.id})}" method="post">-->
<!--                                                                            <div class="modal-header">-->
<!--                                                                                <h4 class="modal-title">Edit Employee</h4>-->
<!--                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--                                                                            </div>-->
<!--                                                                            <div class="modal-body">-->
<!--&lt;!&ndash;                                                                                <div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                    <label class="col-sm-2 col-form-label">Cargo:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                    <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                        <select name="role" class="form-control role" id="roles" onchange="validarForm()">&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                            <option></option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                            <option th:each="cargoType : ${cargoTypes}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                                    th:text="${cargoType.descricao}"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                                    th:value="${cargoType.id}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                        </select>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                </div>&ndash;&gt;-->
<!--                                                                            </div>-->
<!--                                                                            <div class="modal-footer">-->
<!--                                                                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">-->
<!--                                                                                <input type="submit" class="btn btn-success" value="Save">-->
<!--                                                                            </div>-->
<!--                                                                        </form>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                            </div>-->

                                                            <!-- Edit Modal HTML -->
                                                            <div id="editPaciente" class="modal fade">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <form action="salvar-paciente-editado" method="post">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title">Edit Employee</h4>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="form-group row">
                                                                                    <label class="col-sm-2 col-form-label" hidden="hidden">Id:</label>
                                                                                    <div class="col-sm-10">
                                                                                        <input type="text" name="id" id="idEdit" class="form-control" autocomplete="off" hidden="hidden" required>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group row">
                                                                                    <label class="col-sm-2 col-form-label">Name:</label>
                                                                                    <div class="col-sm-10">
                                                                                        <input type="text" name="nome" id="nomeEdit" class="form-control" autocomplete="off" required>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                                                                <input type="submit" class="btn btn-success" value="Save">
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Delete Modal HTML -->
                                                            <div class="modal modal-warning fade in" id="deletePaciente" th:id="modal-warning+${paciente.id}">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title">Excluir Paciente</h4>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <p>Tem certeza que deseja deletar este registro?</p>
                                                                                <p class="text-danger"><small>Essa ação não pode ser desfeita.</small></p>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Voltar">
                                                                                <a type="button" th:href="@{/excluir-paciente/{idPaciente}(idPaciente=${paciente.id})}"><input type="button" class="btn btn-danger" value="Excluir"> </a>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td></tr>



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Basic table card end -->
                                    <!-- FIM  INCLUSAO DADOS DA TELA -->

                                </div>
                                <!-- Page-body end -->
                            </div>
                            <div id="styleSelector"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/javascriptfile :: javascriptfile"></div>
<script type="text/javascript">

    $(document).ready(function () {
        setTimeout(function () {
            $(".alert").fadeOut("slow", function () {
                $(this).alert('close');
            })
        }, 5000);
    })

    $('table .edit').on('click', function () {
        var id = $(this).parent().find('#id').val();
        $.ajax({
            type: 'GET',
            url: '/api/usuario/find/' +id,
            success: function (usuario) {
                $('#editUsuario #idEdit').val(usuario.id)
                $('#editUsuario #nomeEdit').val(usuario.nome)
                $('#editUsuario #loginEdit').val(usuario.login)
                $('#editUsuario #senhaEdit').val(usuario.senha)

            }
        })
    })

</script>
</body>

</html>
