<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="javascriptfile" >
    <!-- Required Jquery -->
    <script type="text/javascript" src="../../static/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/js/jquery-ui/jquery-ui.min.js "></script>
    <script type="text/javascript" src="../../static/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap/js/bootstrap.min.js "></script>
    <script type="text/javascript" src="../../static/pages/widget/excanvas.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.com/libraries/jquery.mask"></script>
    <!-- waves js -->
    <script src="../../static/pages/waves/js/waves.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="../../static/js/jquery-slimscroll/jquery.slimscroll.js "></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="../../static/js/modernizr/modernizr.js "></script>
    <!-- slimscroll js -->
    <script type="text/javascript" src="../../static/js/SmoothScroll.js"></script>
    <script src="../../static/js/jquery.mCustomScrollbar.concat.min.js "></script>
    <!-- Chart js -->
    <script type="text/javascript" src="../../static/js/chart.js/Chart.js"></script>
    <!-- amchart js -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="../../static/pages/widget/amchart/gauge.js"></script>
    <script src="../../static/pages/widget/amchart/serial.js"></script>
    <script src="../../static/pages/widget/amchart/light.js"></script>
    <script src="../../static/pages/widget/amchart/pie.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <!-- menu js -->
    <script src="../../static/js/pcoded.min.js"></script>
    <script src="../../static/js/vertical-layout.min.js "></script>
    <!-- custom js -->
    <script type="text/javascript" src="../../static/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="../../static/js/script.js "></script>
</div>